.REG-page {
  font-family: Arial, sans-serif;
  padding: 1.5rem;
}

.REG-header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.REG-content {
  display: flex;
  width: 70%;
  flex-direction: column;
  gap: 1rem; /* Space between regulations */
}

.REG-regulation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.REG-button {
  background-color: #FDCC03; /* Button color */
  color: #000; /* Text color for contrast */
  border: none; /* Remove border */
  border-radius: 10px; /* Rounded corners */
  padding: 10px 15px; /* Padding for button size */
  font-size: 16px; /* Comfortable font size */
  display: inline-flex; /* Align icon and text */
  align-items: center; /* Center icon and text vertically */
  justify-content: center; /* Center content */
  transition: background-color 0.3s ease; /* Smooth hover effect */
  margin: 0 5px; /* Space between buttons */
}

.REG-button:hover {
  background-color: #e6b802; /* Slightly darker shade on hover */
}

.REG-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.REG-modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 900px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}

.REG-iframe {
  width: 100%;
  height: 500px;
  border: none;
}

.REG-close-button {
  position: absolute; /* Position close button in the modal */
  top: 10px;
  right: 10px;
  background-color: #FDCC03; /* Button color */
  color: #000; /* Icon color */
  border: none; /* Remove border */
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Make it circular */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

.REG-close-button:hover {
  background-color: #e6b802; /* Slightly darker shade on hover */
}

.REG-close-button svg {
  font-size: 18px; /* Icon size */
}
