/* Dashboard container */
.pl-warden-dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
    background-color: #f9f9f9;
    min-height: 100vh;
    position: relative;
    font-family: 'Arial', sans-serif;
}

/* Blurred background when popup is open */
.pl-warden-dashboard-container .blurred {
    filter: blur(8px);
    pointer-events: none;
}

/* Cards Layout */
.pl-warden-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* Styling for individual cards (Total Count, Returning, Overtime) */
.pl-warden-card {
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    padding: 0px;
    text-align: center;
    width: 205px;
    height: 205px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    margin-bottom: 0px;
}

.pl-warden-card:hover {
    transform: translateY(-5px);
}

/* Card Title */
.pl-warden-card-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* Card Number */
.pl-warden-card-number {
    font-size: 32px;
    font-weight: bold;
    color: #1E90FF;
    margin-top: 10px;
}

/* Donut Chart Section */
.pl-warden-chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 70%;
}

/* Custom Legend */
.pl-warden-dashboard-container .recharts-legend-wrapper {
    transform: translateX(50px);
}

/* Tooltip Styling */
.pl-warden-dashboard-container .recharts-tooltip-wrapper {
    background: white;
    border: 1px solid #ddd;
    padding: 12px 18px;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

/* Modal overlay with blurred background */
.pl-warden-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Modal card styling */
.pl-warden-modal-card {
    background: #ffffff;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    /* width: 650px; */
    height: 300px;
    position: relative;
    transition: transform 0.3s ease;
    font-family: 'Helvetica Neue', sans-serif;
}

.pl-warden-popup-card {
    background: #ffffff;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    width: 700px;
    height: 600px;
    position: relative;
    transition: transform 0.3s ease;
    font-family: 'Helvetica Neue', sans-serif;
}

.pl-warden-popup-card {
    max-width: 400px;
}

.pl-warden-popup-card:hover {
    transform: translateY(-8px);
}

/* Close button inside the modal */
.pl-warden-close-button {
    position: absolute;
    top: 25px;
    right: 16px;
    padding: 0px 10px;
    background-color: #E74C3C;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 22px;
    border-radius: 15%;
    transition: background-color 0.3s ease;
}

.pl-warden-close-button:hover {
    background-color: #C0392B;
}

/* Modal card heading */
.pl-warden-modal-card h3,
.pl-warden-popup-card h3 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 35px;
    color: #333;
    line-height: 1.4;
}

/* Styling for the time in red color */
.pl-warden-time {
    color: #D9534F;
    font-weight: 500;
    margin-left: 8px;
}

/* Pie chart sector animation on hover */
@media (min-width: 769px){
  .pl-warden-dashboard-container .recharts-pie-sector:hover {
      opacity: 0.85;
      transform: scale(1.05);
      transition: transform 0.2s ease-in-out;
  }
}

/* Popup effect on hover for legend */
.pl-warden-dashboard-container .recharts-legend-item .recharts-legend-icon {
    transform: scale(1.5);
    transition: transform 0.2s ease-in-out;
}

/* Optional: Make it larger on hover */
.pl-warden-dashboard-container .recharts-legend-item:hover .recharts-legend-icon {
    transform: scale(4);
}

/* Optional: Increase spacing if needed */
.pl-warden-dashboard-container .recharts-legend-item {
    gap: 30px;
    /* Adjust spacing between the symbol and the text */
}
/* Toggle Button for Today/Tomorrow */
.pl-warden-toggle-button {
    position: absolute;
    top: 25px;
    left: 10px;
    padding: 5px 10px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.pl-warden-toggle-button:hover {
    background-color: #5B9BD5;
    transform: scale(1.05);
}

.pl-warden-toggle-button:active {
    background-color: #4A89C1;
    transform: scale(0.98);
}

/* Adding smooth hover effect */
.pl-warden-toggle-button:focus {
    box-shadow: 0 0 8px rgba(0, 136, 254, 0.5);
}

.pl-warden-popup-count {
    padding-top: 25px;
}

.pl-warden-popup-count,
.pl-warden-popup-returning,
.pl-warden-popup-overtime {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.pl-warden-popup-count h4,
.pl-warden-popup-returning h4,
.pl-warden-popup-overtime h4 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.pl-warden-popup-count strong,
.pl-warden-popup-returning p strong,
.pl-warden-popup-overtime p strong {
    font-size: 16px;
    font-weight: normal;
    color: #1E90FF;
    margin-left: 10px;
}

/* Calendar Button Styling */
.pl-warden-calendar-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #1E90FF;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
}

.pl-warden-calendar-button:hover {
    background-color: #3D8AE1;
}

/* Calendar UI Styling */
.pl-warden-popup-card .react-calendar {
    position: absolute;
    top: 70px;
    left: 10px;
    z-index: 5;
}

.pl-warden-popup-card .react-calendar__tile {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}

.pl-warden-popup-card .react-calendar__tile:hover {
    background-color: #e1f3fe;
}

/* Dropdown Container (Top Right) */
.pl-warden-dropdown-container {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    align-items: center;
}

/* Dropdown Label */
.pl-warden-dropdown-label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 8px;
    width: 100px;
}

/* Dropdown Select */
.pl-warden-dropdown {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    margin-right: 20px;
    ;
}

.select{
  display: flex;
  align-items: center;
}

/* Dropdown Hover Effect */
.pl-warden-dropdown:hover {
    border-color: #8884d8;
}

/* Dropdown Focus Effect */
.pl-warden-dropdown:focus {
    outline: none;
    border-color: #0056b3;
}

/* Title Container (Top Left) */
.pl-warden-title-container {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #333;
}


/* Enlarged modal card to fit pie chart */
.pl-warden-pie-chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

/* Ensure Pie Chart is centered */
.pl-warden-dashboard-container .recharts-pie {
    margin-right: 50px;
    /* Space between pie and legend */
}

/* Header container for Year Dropdown & Toggle Button */
.pl-warden-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Align to left */
    gap: 20px;
    /* Spacing between elements */
}

/* Parent container for the toggle switch */
.pl-warden-dashboard-container .toggle-container {
    display: flex;
    align-items:center;
}

/* Labels for Boys & Girls */
.pl-warden-dashboard-container .toggle-label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 0 8px;
}

/* Switch container */
.pl-warden-dashboard-container .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

/* Hide default checkbox */
.pl-warden-dashboard-container .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider (sliding button) */
.pl-warden-dashboard-container .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0088FE;
    /* Default blue (Boys) */
    transition: 0.4s;
    border-radius: 25px;
}

/* The round indicator inside the switch */
.pl-warden-dashboard-container .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* When checked, slide the indicator to the right & change color */
.pl-warden-dashboard-container input:checked+.slider {
    background-color: #FF4081;
    /* Pink (Girls) */
}

.pl-warden-dashboard-container input:checked+.slider:before {
    transform: translateX(25px);
}

.pl-warden-name-list-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  padding: 24px;
  width: 300px;
  max-width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  z-index: 1000;
}

.pl-warden-name-list-popup h4 {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 16px;
  text-align: center;
}

.pl-warden-name-list-popup ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pl-warden-name-list-popup ul li {
  font-size: 14px;
  color: #555555;
  padding: 8px 12px;
  margin: 4px 0;
  background-color: #f9f9f9;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.pl-warden-name-list-popup ul li:hover {
  background-color: #e0e0e0;
}

.pl-warden-name-list-popup ul li:last-child {
  margin-bottom: 16px;
}

.pl-warden-name-list-popup button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pl-warden-name-list-popup button:hover {
  background-color: #0056b3;
}

.pl-warden-name-list-popup button:active {
  background-color: #004080;
}
/* Mobile devices (up to 600px) */

@media screen and (max-width: 1200px) {
    .pl-warden-dashboard-container {
      padding: 20px;
    }
  
    .pl-warden-chart-container {
      transform: scale(0.9);
      margin-top: 0;
      width: 100%;
    }
  
    .pl-warden-cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      padding: 20px;
    }
  
    .pl-warden-card {
      width: 200px;
      margin: 0;
      height: 180px;
    }

    .pl-warden-dashboard-container .recharts-pie-sector:hover {
      opacity: 0.85;
      transform: scale(1.05);
      transition: transform 0.2s ease-in-out;
    }
  }
  
  @media screen and (max-width: 768px) {
    .pl-warden-dashboard-container {
      gap: 0px;
    }

    .pl-warden-title-container {
      position: relative;
      text-align: center;
      margin-bottom: 20px;
      font-size: 24px;
    }
  
    .pl-warden-dropdown-container {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      /* gap: 10px; */
      margin-bottom: 20px;
      right: 0;
    }
  
    .pl-warden-dropdown {
      width: 150px;
      margin-right: 0;
    }
  
    .pl-warden-cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
      padding: 15px;
    }
  
    .pl-warden-card {
      width: 100%;
      height: 150px;
      width: 200px;
      margin: 0;
    }
  
    .pl-warden-chart-container {
      transform: scale(0.8);
      width: 120%;
    }
  
    .pl-warden-modal-card,
    .pl-warden-popup-card {
      width: 90%;
      max-width: 350px;
      padding: 20px;
      height: auto;
      min-height: 300px;
    }
  
    .pl-warden-pie-chart-container {
      transform: scale(1);
      margin-top: 0px;
    }
  
    .recharts-legend-wrapper {
      transform: scale(0.8);
    }
  }
  
  @media screen and (max-width: 480px) {
    .pl-warden-title-container {
      font-size: 20px;
    }
  
    .pl-warden-dropdown-container {
      flex-direction: row;
      /* gap: 8px; */
    }
  
    .pl-warden-dropdown-label {
      font-size: 14px;
      white-space: nowrap;
      width: 80px;
    }
  
    .pl-warden-dropdown {
      width: 120px;
      font-size: 14px;
    }
  
    .pl-warden-cards {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      padding: 10px;
    }
  
    .pl-warden-card {
      height: 130px;
    }
  
    .pl-warden-card-title {
      font-size: 18px;
    }
  
    .pl-warden-card-number {
      font-size: 24px;
    }
  
    .pl-warden-chart-container {
      transform: scale(0.9);
      width: 140%;
    }
  
    .pl-warden-modal-card,
    .pl-warden-popup-card {
      width: 95%;
      padding: 15px;
    }
  
    .pl-warden-popup-count h4,
    .pl-warden-popup-returning h4,
    .pl-warden-popup-overtime h4 {
      font-size: 16px;
    }
  
    .pl-warden-pie-chart-container {
      transform: scale(1);
      margin-top: 0px;
    }
  }
