/* Patent Section */
.Patent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding: 5rem 0; /* Adjusted padding */
}

/* Title Container */
.Patent-title-container {
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

.Patent-title-container h2 {
    font-size: 1.5rem;
}

/* Patent Table Container */
.Patent-table-container {
    width: 100%;
    overflow-x: auto; /* Ensures horizontal scrolling */
}

/* Patent Table */
.Patent-table {
    width: 100%;
    min-width: 1130px; /* Ensures table is large enough */
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid black;
    border-radius: 8px;
}

.Patent-table thead {
    background-color: #808080;
    color: white;
}

.Patent-table th,
.Patent-table td {
    border: 1px solid black;
    padding: 12px;
    text-align: left;
}

/* Links inside Table */
.Patent-table a {
    color: blue;
    text-decoration: none;
}

.research-patent-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    width: fit-content;
}

/* Responsive Design */
@media (max-width: 768px) {
    .Patent-container {
        width: 100%;
        padding: 3rem 2rem;
    }

    .Patent-table {
        width: 200%;
    }
}

@media (max-width: 480px) {
    .Patent-table-container {
        margin-left: 2rem;
    }
}
