@keyframes flipPageLeft {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(0deg);
    }
  }
  
  .animate-flip-page-left {
    animation: flipPageLeft 0.5s ease-in-out forwards;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  
  .rotate-y-180 {
    transform: rotateY(0deg);
  }
  
  /* Hide pages not actively displayed */
  .hidden-page {
    visibility: hidden;
  }