.scroll-up-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #800000;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 9999999999999;
  transition: opacity 0.3s ease;
}

.scroll-up-button:hover {
  background-color: #a00000;
}
