.scroll-up-btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 35px;
  right: 25px;
  width: 45px ;
  height: 45px ;
  z-index: 1000;
  background-color: white ; 
  color: #ff8e3a ;
  border: none;

  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  transition: background-color 0.3s ease;
}

.scroll-up-btn:hover {
  background-color: #555;
}
