.student-login-container .fancy .text{
    color: rgb(255, 255, 255);
}

.student-login-container .fancy::before {
    background: white;
}

.student-login-container .fancy:hover::before {
    background: black; /* Changes to white on hover */
}


.student-login-container .fancy:hover {
    background: white;
}
   
.student-login-container .fancy:hover .text{
    color: black;
}

/* Container */
.login-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
}

/* Student Section */
.student-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: white;
}

.student-login-container h1,
.faculty-login-container h1 {
    font-size: 3.5rem;
}

.student-login-container h5,
.faculty-login-container h5 {
    font-size: 2rem;
}

/* Faculty Section */
.faculty-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: rgb(250, 204, 21);
}

.faculty-login-container h5 {
    color: white;
}

/* Fancy Button */
.fancy {
    background-color: transparent;
    border: 2px solid black;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
}

/* Fancy Button Styling */
.fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transition: background 0.3s linear, width 0.3s linear;
}

/* Student Button */
.student-login-container .fancy {
    background: rgb(250, 204, 21);
}

.student-login-container .fancy::before {
    background: white;
}

.student-login-container .fancy:hover::before {
    background: black;
}

.student-login-container .fancy:hover {
    background: white;
}

.student-login-container .fancy:hover .text {
    color: black;
}

/* Faculty Button */
.faculty-login-container .fancy {
    background: white;
}

.faculty-login-container .fancy::before {
    background: black;
}

.faculty-login-container .fancy:hover::before {
    background: white;
}

.faculty-login-container .fancy:hover {
    background: rgb(250, 204, 21);
}

/* Fancy Button Effects */
.fancy .text {
    font-size: 1.125em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}

.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover::before {
    width: 0.9375rem;
}

.fancy:hover .text {
    color: white;
    padding-left: 1.5em;
}

.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}
