/* General Page Styling */
.programmes-page {
    max-width: 90%;
    margin: 40px auto;
    padding: 26px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.programmes-page h4{
    font-size: 24px;
} 
/* Links Styling */
.programmes-page a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 5px;
}

.programmes-page a:hover {
    color: #1a5276;
}

.programmes-name img{
    width: 15px;
    height: 15px;
    margin-top: 2px;
}

@media screen and (max-width: 830px){
    /* General Page Styling */
    .programmes-page {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 330px){
    .programmes-page{    
        max-width: 97%;
        padding: 10px;
    }
}