body {
  /*background: linear-gradient(135deg, #ece9e6, #ffffff);*/
  font-family: "Poppins", sans-serif;
  /*color: #333;*/
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

.main-content {
  padding: 30px;
}

.section-card ul {
  padding-left: 20px;
  margin-top: 20px;
  list-style-type: disc;
}

.section-card li {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 10px;
}

.section-card {
  /*background: linear-gradient(135deg, #f7b731, #e74c3c);*/
  color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  /* Ensure equal height */
}

.vision-quote {
  margin-top: 20px;
  font-family: "EB Garamond", serif;
  line-height: 1.1;
  font-size: 16px;
  /* Increased font size */
  /*color: rgba(255, 255, 255, 0.9);*/
  text-align: center;
  /*border-left: 4px solid rgba(255, 255, 255, 0.7);*/
  padding-left: 5px;
}

.section-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.2);
}

.section-card::before {
  content: "";
  position: absolute;
  top: -50px;
  right: -50px;
  width: 150px;
  height: 150px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  z-index: -1;
  transition: transform 0.5s ease-in-out;
}

.section-card:hover::before {
  transform: scale(1.3);
}

.section-card h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.section-card p {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
}

.icon-container {
  position: absolute;
  top: -30px;
  right: -30px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.icon-container i {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.9);
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }

  to {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
  }
}

.testimonials {
  margin-top: 50px;
  font-style: italic;
  font-size: 20px;
  font-weight: 500;
  /*color: #555;*/
  text-align: center;
  position: relative;
}

.testimonials::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  margin: 10px auto 0;
  /*background: linear-gradient(90deg, #f7b731, #e74c3c);*/
}

/* General Section Styling */
.about-department {
  padding-bottom: 20px;
}

.about-department h2 {
  font-size: 20px;
  font-weight: bold;
  /*color: #333;*/
  margin-bottom: 20px;
}

.ABT_container{
  display: flex;
  justify-content: space-between;
}

.about-department-text {
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
}


.about-department-text h2 {
  text-align: left;
}

.about-department-image{
  display: flex;
  justify-content: center;
  align-items: center;
}


.about-department-image img {
  /* max-width: 100%; */
  height: 350px;
  width: 500px;
  border-radius: 15px;
  /* Softer, more modern rounded corners */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  /* Deeper shadow for a more sophisticated look */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* Smooth transition for hover effect */
}

/* Vision and Mission Section */
.section-card {
  padding: 30px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.section-card h2 {
  font-size: 20px;
  color: #000;
}

.section-card p,
.section-card ul {
  font-size: 16px;
  line-height: 1.6;
  /*color: #333;*/
}

.section-card blockquote {
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  /*color: #555;*/
  /*border-left: 4px solid #007bff;*/
  padding-left: 15px;
  margin-left: 0;
}

ul {
  padding-left: 20px;
  list-style-type: disc;
}

/* General Section Styling */
.section-card {
  /*background: linear-gradient(135deg, #f7b731, #e74c3c);*/
  color: #000;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.my-auto{
  color: #000;
}

.dual-outcomes{
  display: flex;
  width: 70vw;
  justify-content: space-around;
}

#psosAccordion {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 20px; /* Adds spacing between cards */
}

.POE {
  width: 100%; /* Third item and beyond will be centered */
  max-width: 530px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.accordion{
  display: flex;
  gap: 20px;
  align-items: start;

}

.accordion-header{
  color: #800000;
  
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  gap: 20px; /* Spacing between items */
  width: 73vw;
  align-items: start;
}

.accordion-body.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
  animation: slideDown 0.5s ease-out;
  margin-top: -5vh;
  text-align: left;
}
.accordion-item-cir {
  width: 100%; /* Ensure proper spacing */
  
}
POE accordion-item-circle {
  width: 100%; /* Ensure proper spacing */
} 
/* Responsive Design for Tablets */
@media (max-width: 1024px) {
  .committee-buttons-grid {
    justify-content: center;
    gap: 20px;
  }

  .committee-button {
    flex: 0 1 calc(33.33% - 20px);
    padding: 18px;
  }
}

/* Responsive Design for Small Tablets and Mobile */
@media (max-width: 768px) {
  .main-content {
    padding: 10px;
  }
  .about-department-text h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  .parallel-sections {
    flex-direction: column;
  }

  .section-card {
    margin-bottom: 20px;
  }

  .committee-buttons-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .committee-button {
    flex: unset;
    font-size: 1rem;
    padding: 15px;
  }

  .about-department {
    padding: 25px 0px;
  }

  .about-department-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Ensures horizontal centering */
    text-align: center;
  }

  .about-department-text {
    max-width: 100%;
    padding: 0 15px;
  }

  .about-department-text h2 {
    text-align: center;
  }

  .about-department-text p {
    text-align: justify;
  }

  .about-department-image {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* Ensures full width */
  }

  .about-department-image img {
    display: block;
    margin: 10px;
    /* Centers the image */
    max-width: 100%;
    height: auto;
  }

  .accordion{
    display: flex;
    flex-direction: column;
  }

  .grid-container{
    width: 85vw;
  }
  .accordion-body.show {
    margin-top: 0.5%;
  }
}

/* Responsive Design for Mobile Screens */
@media (max-width: 480px) {
  .committee-buttons-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .about-department-text h2 {
    text-align: center;
    font-size: 28px;
    /* Adjust font size for smaller screens */
  }

  .about-department-text h2 {
    text-align: center;
    font-size: 28px;
    /* Adjust font size for smaller screens */
  }

  .committee-button {
    width: 90%;
    margin: 0 auto;
    padding: 12px;
  }

  .committee-button svg {
    font-size: 2rem;
  }

  .committee-button span {
    font-size: 1rem;
  }

  .about-department .row {
    flex-direction: column-reverse;
  }

  .about-department-text h2 {
    text-align: center;
  }

  .about-department-text p {
    text-align: justify;
  }

  .about-department-image img {
    width: 100%;
    /* Make it responsive */
    max-width: 390px;
    /* Prevent excessive scaling */
    height: auto;
    margin: 10px;
    /* Centers horizontally */
    display: block;
  }

  .section-card {
    padding: 20px;
  }

  .section-card h2 {
    font-size: 24px;
  }

  .section-card p,
  .section-card ul {
    font-size: 16px;
    line-height: 1.5;
  }

  .vision-quote {
    font-size: 24px;
  }
}

