/* Main Container */
.AP-main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

/* Grid Layout */
.AP-grid-VM {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Adjusting min size for better small-screen support */
  gap: 20px; 
  width: 50%; 
  margin-bottom: 40px;
}



@media (max-width:480px){
  .AP-grid-VM{
    width: 100%;
  }
}
.AP-grid-VMC{
  display: flex;
}
.AP-grid-TPD{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Adjusting min size for better small-screen support */
  gap: 20px;
  margin-bottom: 40px;
}
.AP-grid-CPC{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Adjusting min size for better small-screen support */
  gap: 20px;
  width: 50%;
  margin-bottom: 40px;
  margin-left: 20px;
}


@media (max-width:480px){
  .AP-grid-CPC{
    width: 100%;
    margin-left: 0;
  }
}
.AP-contact-name{
  font-size: 16px;
}

/* Card Style */
.AP-card {
  position: relative;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 25px;
  text-align: left;
  background-color: #ffffff;
  border-left: 4px solid #ffcc00; /* Yellow left border */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}



/* Card Title */
.AP-card-title {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 600;
  color: rgb(128, 0, 0);
  border-bottom: 3px solid #ffcc00;
  padding-bottom: 3px;
  width: fit-content;
}

/* Card Text */
.AP-card-text {
  line-height: 1.7;
  font-size: 16px;
  color: #444;
  text-align: justify;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .AP-main-container {
    padding: 30px 15px;
  }

  .AP-grid {
    gap: 15px;
  }

  .AP-card {
    padding: 20px;
    border-left: 4px solid #ffcc00; /* Slightly thinner border on smaller screens */
  }

  .AP-card-title {
    font-size: 20px;
  }

  .AP-card-text {
    font-size: 15px;
    line-height: 1.6;
    text-align: justify;
  }
}

@media (max-width: 768px) {
  .AP-main-container {
    padding: 20px;
  }

  .AP-grid {
    display: flex;
    flex-direction: column; /* Cards stack vertically on mobile */
  }

  .AP-card {
    padding: 18px;
    border-left: 4px solid #ffcc00;
  }

  .AP-card-title {
    font-size: 18px;
  }

  .AP-card-text {
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
  }
}

@media (max-width: 480px) {
  .AP-main-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
  }

  .AP-card {
    padding: 15px;
    border-left: 3px solid #ffcc00; /* Even thinner border for very small screens */
    
  }

  .AP-card-title {
    font-size: 16px;
  }

  .AP-card-text {
    font-size: 13px;
    line-height: 1.4;
    text-align: justify;
  }


  .AP-grid-VMC{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

}
