/* Import Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif; /* Set Poppins as the default font */
  font-size: 16px; /* Default font size for the body */
  margin: 0;
  padding: 0;
}

.place-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  width: 90%;
  align-items: center;
  margin: auto;
}

.Placement-App {
  font-family: 'Poppins', sans-serif; /* Apply Poppins to the Placement App */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.Placement-App h1 {
  /*color: #444;*/
}

.person-detail {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100px;
  padding: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 10px;
  /* justify-content: space-between; */
}

.person-image-mem {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.person-image {
  width: 220px;
  height: 220px;
  object-fit: cover;
}

.person-content-mem {
  padding: 20px;
  justify-content: center;
  margin-left: 30px;
}

.person-content {
  padding: 20px;
  /* justify-content: space-between; */
}

.person-content h3 {
  margin: 0;
  font-size: 24px;

}

.person-content .placement-head {
  margin: 10px 0 0 0;
  font-size: 24px;
}

.person-content p {
  margin: 10px 0 0 0;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

.person-detail {
  flex-grow: 1;
}

.placement-members{
  display: flex;
  gap: 20px;
  width: 70%;
}

.placement-member-head {
  font-size: 18px;
}

.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #333;
  z-index: 10;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  margin-right: 30px;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .person-image {
    width: 180px;
    height: 180px;
  }

  .person-content h2 {
    font-size: 20px;
  }

  .person-content p {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .person-detail {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .person-image {
    margin-bottom: 15px;
  }

  .person-content {
    text-align: center;
  }

  .person-content h2 {
    font-size: 20px;
  }

  .person-content p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .person-detail {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .person-image {
    margin-bottom: 15px;
    width: 160px;
    height: 160px;
  }

  .person-content {
    text-align: center;
  }

  .person-content h2 {
    font-size: 20px;
  }

  .person-content p {
    font-size: 16px;
  }

  .placement-members{
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .person-image {
    width: 140px;
    height: 140px;
  }

  .person-content h2 {
    font-size: 20px;
  }

  .person-content p {
    font-size: 16px;
  }
}
