html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container_imgSld {
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
    /* background-color: #E0963A; */
    width: 100%; 
    max-width: 100%; 
    /* box-sizing: border-box; */
}
.header {
    height: 100px;
    background-color: #f8f9fa;
    border-bottom: 2px solid black;
}

.first-container {
    margin-top: 20px;
    width: 25%;
    flex-shrink: 1;
}

.Images {
    flex-shrink: 0;
}

.icons {
    margin: 10px;
}

.quote {
    font-weight: 500;   
    margin: 10px;
}