.mou-page {
  padding: 20px;
  font-family: Poppins, sans-serif;
}

.mou-header h1 {
  text-align: center;
  font-size: 2rem;
}

.mou-details {
  margin-top: 30px;
}

.mou-table-container {
  overflow-x: auto; /* Make table horizontally scrollable */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

.mou-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.mou-table th, .mou-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.mou-table th {
  background-color: #808080;
  color: white;
}

.mou-pdf-link {
  background-color: #fdcc03;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}

.mou-pdf-link:hover {
  background-color: #830000;
}

@media (max-width: 768px) {
  .mou-table-container {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .mou-table {
    min-width: 600px; /* Ensure the table has a minimum width for scrolling */
  }

  .mou-table th, .mou-table td {
    padding: 8px; /* Adjust padding for better fit on smaller screens */
  }
}
