.title-h3 {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  font-family:  'Poppins', sans-serif;

}

.ecell-members-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
  gap: 20px;
  padding: 20px;
  font-family:  'Poppins', sans-serif;
}

.faculty-card {
  width: 250px;
  height: fit-content;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}