.about-hostel{
  border-radius: 30px;
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 30px;
  /*border: 1px solid rgb(136, 131, 131);*/
}

.about-hostel:hover{
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
  
.hostel-abt-container {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 20px;
}

.hostel-img-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  }
  
  /* About hostel section */
  .about-hostel {
    /*background-color: #ffffff;*/
    padding: 4rem 0;
    text-align: center;
  }
  
  .about-hostel h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .about-hostel p {
    font-size: 1.1rem;
    /*color: #666;*/
    max-width: 800px;
    margin: 0 auto;
  }

 