/*About.css*/

.abt{
    font-size: 20px;
    text-align: center;
    /* margin-top: 90px; */
    /* margin: 10px; */
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.text{
    width: 100%;
}

.abt2,.abt3{
    /* font-size: 1.2rem; */
}

.image img{
    /* height:450px;
    width:550px; */
    border-radius:5px;
    align-items: center;
    margin-top: 40px;
}

