.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  -webkit-user-drag: none; /* For Safari */
  margin-top: -37%;
}

.head {
  text-align: center;
  margin-top: 200px; /* Adjust this value to change the spacing between the header and the carousel */
}

.nav-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
  transition: opacity 0.3s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav-button.left {
  left: 20px;
  margin-top: 43px;
}

.nav-button.right {
  right: 20px;
  margin-top: 43px;
}

.carousel-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 0.8s ease-in-out;
  width: 100%;
  margin-bottom: 10%;
}

.carousel-box {
  height: 300px;
  margin: 0 65px; /* Reduced margin to bring the boxes closer together */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.carousel-box.left-box,
.carousel-box.right-box {
  height: 200px;
  width: 330px;
  background-color: #f0f0f0;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.carousel-box.middle-box {
  height: 275px;
  width: 480px;
  background-color: #e0e0e0;
  transform: scale(1.05);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.carousel-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.3s ease;
  -webkit-user-drag: none; /* For Safari */
}

.carousel-box img:hover {
  transform: scale(1.08);
}
