.cro-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 35px;
  margin-left: 20px;
  margin-right: 20px;
}

.cro-content {
  display: flex;
  animation: scroll 15s linear infinite;
}

.cro-content.paused {
  animation-play-state: paused;
}

.cro-item {
  flex: 0 0 auto;
  width: 425px;
  height: 400px;
  margin-right: 40px;
  row-gap: 20px;
  margin-bottom: 20px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


.evnt-box {
  width: 425px;
  height: 375px;
  padding: 10px;
  background-color: linear-gradient(to right, #E0963A, #F0A34A, #D96301);
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  border-style: thin;
  border-color: #000000;
  flex-direction: column;
  box-sizing: border-box;
}


.evnt-box:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.evnt-header {
  display: flex;
  align-items: center;
  margin: 0;
  padding-bottom: 15px;
}

.evnt-date .circle {
  background: rgba(255, 201, 5, 1);
  color: white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  border: 5px solid #f0f0f0;
}

.evnt-name {
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin-left: 20px;
  flex-grow: 1;
  text-align: left;
}

.evnt-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.evnt-row.department-name {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 5px;
  width: 100%;
  box-sizing: border-box;
}

.evnt-row.description {
  color: rgb(3, 3, 3);
  border-radius: 5px;
  text-align: center;
  margin-top: 25px;
  width: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  flex: 1;
}

.evnt-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.evnt-row.duration,
.evnt-row.links {
  text-align: center;
  margin-top: 20px;
  color: linear-gradient(to right, #E0963A, #F0A34A, #D96301);
}

.evnt-row.links {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.evnt-row.links a {
  text-decoration: none;
  color: linear-gradient(to right, #E0963A, #F0A34A, #D96301);
}

.evnt-row.links a:hover {
  text-decoration: underline;
}
