.page-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  width: 100%;
}

.stats-grid-container {
  display: flex;
  justify-content: center; /* Center the grid horizontally */
  align-items: center; /* Center the grid vertically */
  width: 100%; /* Full width */
}

.stats-grid {
  display: flex; 
  justify-content: space-between; /* Space out the items evenly */
  align-items: center; /* Align items vertically */
  gap: 250px; 
  margin-left: 40px;
  margin-bottom: 20%;
  padding: 20px; /* Optional: padding inside the grid */
  border-radius: 12px;
  /* max-width: 90%; Adjust width to keep the content responsive */
}

.stat-item {
  text-align: center;
  flex: 1; /* Allow equal space for each item */
  margin: 10px 0; /* Margin for vertical spacing */
}

.stat-item .icon {
  font-size: 90%; /* Maximize icon size */
  margin-bottom: 15px; /* Space between icon and number */
}

.stat-number {
  font-size: 2rem; /* Increase number size */
  margin: 10px 0; /* Space between number and label */
}

.stat-label {
  font-size: 1.2rem; /* Adjust label size */
  margin-top: 5px; /* Space above the label */
}

.section-title {
  font-size: 24px; /* Adjust the size as needed */
  margin-bottom: 20px; /* Space between title and stats grid */
  text-align: center; /* Center align the title */
  font-weight: bold;
}
