.iic-h3 {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  font-family:  'Poppins', sans-serif;

}

.iic-members-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
  gap: 20px;
  padding: 20px;
  font-family:  'Poppins', sans-serif;
}
.iic-pdf-container{
  margin: auto;
  align-items:center ;
  justify-items:center ;
}

.iic-stud-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
  gap: 20px;
  padding: 20px;
  font-family:  'Poppins', sans-serif;
}

.iic-faculty-card {
  width: 350px;
  height: fit-content;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
} 