.navbar {
  background: #fff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.navbar-logo {
  color: #222;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
  border-bottom: 2px solid transparent;
}

.nav-item:hover {
  border-bottom: 2px solid #222;
}

.nav-links {
  color: #222;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.fa-bars {
  color: #222;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.dropdown {
  background: #fff;
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}

.dropdown li {
  background: #fff;
  cursor: pointer;
}

.dropdown li a {
  text-decoration: none;
  color: #222;
  padding: 0.5rem;
  display: block;
}

.dropdown li:hover {
  background: #222;
}

.dropdown li:hover a {
  color: #fff;
}

.lis {
  padding: 10px 20px; /* Add padding for spacing */
  margin: 5px 0; /* Add margin between list items */
  border-radius: 4px; /* Slightly rounded corners */
  color: #fff; /* Text color */
  background-color: inherit; /* Default background color */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  font-size: 16px; /* Adjust font size as needed */
  cursor: pointer; /* Pointer cursor on hover */
}

.lis:hover {
  background-color: #555; /* Change background color on hover */
}
@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #fff;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #222;
    color: #fff;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #222;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #222;
    padding: 14px 20px;
    border: 1px solid #222;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #222;
    color: #fff;
    transition: 250ms;
  }
}