.page-container {
  display: flex;
  justify-content: center;
  height: auto; 
  width: 100%;
  /* margin-top: 2vmax; */
  /* margin-bottom: -200px; */
}

.stats-grid-container {
  display: flex;
  justify-content: center; 
  align-items: top; 
  width: 100%; 
}

.stats-grid {
  display: flex; 
  /*justify-content: space-between; !* Space out the items evenly *!*/
  /*align-items: top;*/
  /*gap: 250px; */
  /* margin-left: 40px; */
  /* border-radius: 12px; */
  max-width: 100%;
}

.stat-item {
  text-align: center;
  padding: 0 2vmax 2vmax 0;
  flex: 1;
  justify-content: center;
  margin: 10px 0; 
}

.stat-item .icon {
  margin: auto;
  font-size: 1.8vmax; 
  margin-bottom: 15px; 
}

.stat-number {
  font-size: 2rem; 
  margin: 10px 0; 
}

.stat-label {
  font-size: 1.2rem; 
  margin-top: 5px; 
}

.section-title {
  font-size: 24px; 
  margin-bottom: 20px; 
  text-align: center; 
  font-weight: bold;
}

.stat-input {
    border: none;
    outline: none;
    font-size: 1.5rem;
    /* font-weight: bold; */
    margin: 0.5rem 0;
}

.stat-input:focus {
    border-bottom: 2px solid #3b82f6;
}
.btn-final{
  background-color:#800000;
}
