/* NSS Manual Section */
.NSS-manual-section {
    width: 80%;
    margin: 50px auto;
    text-align: center;
  }
  
  /* Main Heading */
  .NSS-section-heading {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    /*color: #222;*/
    margin-bottom: 20px;
  }
  
  /* Image Styling */
  .NSS-image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .NSS-manual-image {
    width: 100%;
    max-width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  /* PDF Download Section */
  .NSS-pdf-container {
    margin-top: 20px;
  }
  
  .NSS-pdf-link {
    text-decoration: none;
  }
  
  .NSS-download-btn {
    /*background-color: #d1b91b;*/
    /*color: white;*/
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .NSS-download-btn:hover {
    /*background-color: #b89e1a;*/
    transform: scale(1.05);
  }
  