/* CardPage.css */
.admin-card-page {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    /*background-color: #f9f9f9;*/
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full height of the screen */
  }

  .admin-card-ao {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  
  .admin-page-title {
    font-size: 2rem;
    margin-bottom: 20px;
    /*color: #333;*/
  }
  
  .admin-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 90vw;
    margin: auto;
  }

  .ao-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .admin-text-content{
    text-align: left;
  }
  
  .admin-card {
    border-radius: 8px;
    width: 210px;
    padding: 12px;
  }
  
  .admin-card-image {
    width: 150px;
    height: 180px;
    border-radius: 8px;
  }
  
  .admin-card-name {
    font-size: 1.2rem;
    margin: 10px 0 5px;
    /*color: #333;*/
  }
  
  .admin-card-designation {
    font-size: 1rem;
    /*color: #777;*/
  }
  
  /* Loading Screen */
.loading-screen {
  position: absolute; /* Position relative to the committee container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: rgba(255, 255, 255, 0.8); !* White background with opacity *!*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #333;
  z-index: 10; /* Higher than committee content but lower than header/footer */
}

/* Spinner */
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  margin-right: 30px;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width:768px) {
  .admin-card-container{
    width: 90vw;
    margin: auto;
  }
}