/* Loading Screen */
.loading-screen {
    position: absolute; /* Position relative to the committee container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:white; /* White background with opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #333;
    z-index: 10;
  }
  
  /* Spinner with Image */
  .spinner {
    width: 80px;
    height: 80px;
    background: url('../Assets/LOGO.png') no-repeat center;
    background-size: contain;
    animation: spin 2s linear infinite;
    border: none;  /* Ensure no border */
    outline: none; /* Remove any outline */
    box-shadow: none; /* Remove any box-shadow */
  }
  
  /* Spinning Animation */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

