.SportsHOD-container{
    width: 95%;
    margin: 1.7rem auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
   
    
}

.SportsHODmessage{
    font-family: 'Poppins', sans-serif;
    line-height: 1.8rem;
}



.Sports-HOD img{
    width: 350px;
    height: 250px;
    margin: 0.6rem 2rem 1.6rem 2rem;
    
}

@media only screen and (max-width: 600px) {
  .Sports-HOD{
    width: 300px;
    margin-left: -4.5rem;
  }
}

.SportsHOD-details h2 {
    text-align: center;
    font-size: larger;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 2rem;
  }

.SportsHODDes{
    font-family: 'Poppins', sans-serif;
      
}


.SportsHODNameAndqualification h2 p{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
   
}